<%- include("partials/_header") %>
  <!-- body -->

  <body class="main-layout inner_page">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->

    <!-- header -->
    <%- include("partials/_menu") %>
      <!-- end header inner -->


      <!--  customers -->
      <div class="customers">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage text_align_center">
                <h2>Welcome <%= user.username %>
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="satteb text_align_center">
                <p>fact that a reader will be distracted by the readable content of a page when looking at its
                  layout. The point of using Lorem Ipsum is that itfact that a reader will be distracted by the
                  readable content of a page when looking at its layout. The point of using Lorem Ipsum is that
                  itfact that a reader will be distracted by the readable content of a page when looking at its
                  layout. The point of using Lorem Ipsum is that itfact that a reader will be distracted by the
                  readable content of a page when looking at its layout. The point of using Lorem Ipsum is that
                  it
                </p>
                <h3>The point of using </h3>
                <i><img src="/images/custo.jpg" alt="#" /></i>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 text_align_center">
              <button data-toggle="modal" data-target=".bd-example-modal-lg" type="button"
                style=" margin-top:100px; margin-left: 50%; transform: translateX(-50%);" class="read_more"
                href="about.html">Add New Photo</button>
            </div>
          </div>


        </div>
      </div>
      <!-- end customers  -->
      <% if (photos.length> 0 ) { %>
        <div class="gallery">
          <div class="container_with">
            <div class="row">
              <div class="col-md-12">
                <div class="titlepage text_align_center">
                  <h2>My Photos</h2>
                </div>
              </div>
            </div>
            <div class="tz-gallery">
              <div class="row">

                <% for (photo of photos) { %>
                  <div class="col-lg-4 col-md-6 ma_bottom30">
                    <div class="lightbox">
                      <img src="<%= photo.url %>" alt="<%= photo.name %>">
                      <div class="view_main">
                        <div class="pose">
                          <a class="read_more" href="/photos/<%= photo._id %>"><img src="/images/ga.png" alt="#" /></a>
                          <h3 style="padding-top:10px; padding-bottom:10px">
                            <%= photo.name %>
                          </h3>
                          <p style="padding-top:10px;">
                            <%= photo.description.substring(0, 80)+ "..." %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% } %>

              </div>
            </div>
          </div>
        </div>
        <% } %>

          <% if (user.followers.length> 0 ) { %>
            <div class="team">
              <div class="container_with">
                <div class="row">
                  <div class="col-md-12">
                    <div class="titlepage text_align_center">
                      <h2>FOLLOWERS</h2>
                    </div>
                  </div>

                  <% for (follower of user.followers) { %>

                    <div class="col-md-4">
                      <div class="team_box text_align_center">
                        <div class="team_img">
                          <figure><img src="/images/team1.jpg" alt="#" /></figure>
                        </div>
                        <div class="craig">
                          <h3>
                            <%= follower.username %>
                          </h3>
                          <span>PHOTOGRAPHER</span>
                          <ul class="social_icon ">
                            <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="/users/<%= follower._id %>"><i class="fa fa-external-link-square"
                                  aria-hidden="true"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <% } %>

                </div>
              </div>
            </div>
            <% } %>

              <% if (user.followings.length> 0 ) { %>
                <div class="team">
                  <div class="container_with">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="titlepage text_align_center">
                          <h2>FOLLOWINGS</h2>
                        </div>
                      </div>

                      <% for (following of user.followings) { %>

                        <div class="col-md-4">
                          <div class="team_box text_align_center">
                            <div class="team_img">
                              <figure><img src="/images/team1.jpg" alt="#" /></figure>
                            </div>
                            <div class="craig">
                              <h3>
                                <%= following.username %>
                              </h3>
                              <span>PHOTOGRAPHER</span>
                              <ul class="social_icon ">
                                <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="/users/<%= following._id %>"><i class="fa fa-external-link-square"
                                      aria-hidden="true"></i></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <% } %>

                    </div>
                  </div>
                </div>
                <% } %>

                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div style="margin-top: 50px; margin-bottom: 50px;" class="container">
                          <div class="row">
                            <div class="col-md-12 ">
                              <div class="text_align_center">
                                <h2 style="
                    font-size: 30px;
                    margin-bottom: 20px;
                    color: #D43A8E;
                ">Add New Photo</h2>
                              </div>
                            </div>
                            <div class="col-md-10 offset-md-1">
                              <form id="request" class="main_form" method="POST" action="/photos"
                                enctype="multipart/form-data">
                                <div class="row">
                                  <div class="col-md-12">
                                    <input class="form_control" placeholder="Name" type="text" name="name">
                                  </div>
                                  <div class="col-md-12">
                                    <textarea name="description" style="height: 150px;" class="form_control"
                                      placeholder="Description" rows="5"></textarea>
                                  </div>

                                  <div style="margin-bottom: 20px ;" class="col-md-12">
                                    <input type="file" name="image" class="form-control-file">
                                  </div>

                                  <div class="col-md-12">
                                    <div class="group_form">
                                      <button class="read_more">Upload File</button>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- end footer -->
                  <%- include("partials/_footer") %>