<%- include("partials/_header") %>
   <!-- body -->

   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->

      <!-- header -->
      <%- include("partials/_menu") %>
         <!-- end header inner -->
         <!-- top -->
         <div class="full_bg bt_fe">
            <div class="slider_main">
               <div class="container-fluid">
                  <div class="row d_flex">
                     <div class="col-md-5">
                        <div class="creative">
                           <h1>LENSLIGHT</h1>
                           <a class="read_more" href="/contact">Contact Us</a>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <!-- carousel code -->
                        <div id="banner1" class="carousel slide">
                           <ol class="carousel-indicators">
                              <li data-target="#banner1" data-slide-to="0" class="active"></li>
                              <li data-target="#banner1" data-slide-to="1"></li>
                              <li data-target="#banner1" data-slide-to="2"></li>
                           </ol>
                           <div class="carousel-inner">
                              <!-- first slide -->
                              <div class="carousel-item active">
                                 <div class="container">
                                    <div class="carousel-caption relative">
                                       <div class="row d_flex">
                                          <div class="col-md-12">
                                             <div class="cemara">
                                                <figure><img src="<%= photos[0].url %>" alt="#" /></figure>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- second slide -->
                              <div class="carousel-item">
                                 <div class="container">
                                    <div class="carousel-caption relative">
                                       <div class="row d_flex">
                                          <div class="col-md-12">
                                             <div class="cemara">
                                                <figure><img src="<%= photos[1].url %>" alt="#" /></figure>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- third slide-->
                              <div class="carousel-item">
                                 <div class="container">
                                    <div class="carousel-caption relative">
                                       <div class="row d_flex">
                                          <div class="col-md-12">
                                             <div class="cemara">
                                                <figure><img src="<%= photos[2].url %>" alt="#" /></figure>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- controls -->
                           <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                              <i class="fa fa-arrow-left" aria-hidden="true"></i>
                              <span class="sr-only">Previous</span>
                           </a>
                           <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                              <i class="fa fa-arrow-right" aria-hidden="true"></i>
                              <span class="sr-only">Next</span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
         <!-- end banner -->
         <!-- gallery -->
         <div class="gallery">
            <div class="container_with">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage text_align_center">
                        <h2>Latest Photos</h2>
                     </div>
                  </div>
               </div>
               <div class="tz-gallery">
                  <div class="row">

                     <% for (photo of photos) { %>

                        <div class="col-lg-4 col-md-6 ma_bottom30">
                           <div class="lightbox">
                              <img src="<%= photo.url %>" alt="<%= photo.name %>">
                              <div class="view_main">
                                 <div class="pose">
                                    <a class="read_more" href="<%= photo.url %>"><img src="images/ga.png" alt="#" /></a>
                                    <p>
                                       <%= photo.description.substring(0, 80)+ "..." %>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>


                        <% } %>

                  </div>
               </div>
            </div>
         </div>
         <!-- end gallery -->

         <!-- team -->
         <div class="team">
            <div class="container_with">
               <div class="row">
                  <div class="col-md-6">
                     <div class="team_box text_align_center">
                        <div class="craig">
                           <h3>
                              <%= numOfPhotos %>
                           </h3>
                           <span>PHOTOGRAPHS</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="team_box text_align_center">
                        <div class="craig">
                           <h3>
                              <%= numOfUser %>
                           </h3>
                           <span>USERS</span>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
         <!-- end team -->

         <!-- end footer -->
         <%- include("partials/_footer") %>