<%- include("partials/_header") %>
   <!-- body -->

   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->

      <!-- header -->
      <%- include("partials/_menu") %>
         <!-- end header inner -->
         <!-- about -->
         <div class="about">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="titlepage text_align_left">
                        <h3 style="font-size:24px !important ;">
                           <%= photo.name %>
                        </h3>
                        <p>
                           <%= photo.description %>
                        </p>
                        <a class="read_more" href="about.html">
                           Artist: <%= photo.user.username %>
                        </a>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="about_img">
                        <figure><img src="<%= photo.url %>" alt="<%= photo.name %>" /></figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end about -->
         <!-- end footer -->
         <%- include("partials/_footer") %>